@model PrimeHtt.Models.ViewModel.HomeModel
@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/lightgallery/latest/css/lightgallery.css" />
@*<link href="~/Content/lightgallery.css" rel="stylesheet" />*@

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPmtAMPquJDOTGTjHM-e9ssTPq2a3U8QU&callback=initMap">
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="https://cdn.jsdelivr.net/g/lightgallery@1.3.5,lg-fullscreen@1.0.1,lg-hash@1.0.1,lg-pager@1.0.1,lg-share@1.0.1,lg-thumbnail@1.0.1,lg-video@1.0.1,lg-autoplay@1.0.1,lg-zoom@1.0.3"></script>

<style>
    .lg-sub-html {
        background-color: rgba(0, 0, 0, 0.45);
        top: 40px;
        color: #EEE;
        font-size: 28px;
        left: 0;
        padding: 10px 40px;
        position: fixed;
        right: 0;
        text-align: center;
        z-index: 1080;
    }
</style>

<div id="home" class="w3-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative;z-index:1;">
        <ol class="carousel-indicators" style="z-index:1 !important">
            @{ int counter = 0; }
            @for (int i = 0; i < Model.Banners.Count(); i++)
            {
                if (counter == 0)
                {
                    <li data-target="#myCarousel" data-slide-to="@counter" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@counter" class=""></li>
                }
                counter++;
            }
        </ol>

        <div class="carousel-inner" role="listbox">
            @{ int bannerNo = 0; }
            @for (int i = 0; i < Model.Banners.Count(); i++)
            {
                if (bannerNo == 0)
                {
                    <div class="item active">
                        <img src="@Model.Banners[i].BImage" style="width:100%;">
                        @if (Model.Banners[i].BannerDescription != "")
                        {
                            <div class="carousel-caption bannerText">
                                <p>@Html.Raw(Model.Banners[i].BannerDescription)</p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@Model.Banners[i].BImage" style="width:100%;">
                        @if (Model.Banners[i].BannerDescription != "")
                        {
                            <div class="carousel-caption bannerText">
                                <p>@Html.Raw(Model.Banners[i].BannerDescription)</p>
                            </div>
                        }
                    </div>
                }
                bannerNo++;
            }
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div id="about" style="background: #eeeeee; padding-top: 15px;">
    <div style="background: #eeeeee; text-align: center;">
        <h2 style="text-align:center;" class="font_2">
            <span class="color_13">
                <span>@Html.Raw(Model.AboutUs.AboutUsTitle)</span>
            </span>
        </h2>
        <div class="row">
            <div class="col-md-12" style="padding: 0px 100px;">
                @Html.Raw(Model.AboutUs.AboutUsTopDescription)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <a href="@Model.AboutUs.AboutUsImageUrl" target="_blank">
                    <img src="@Model.AboutUs.AboutUsImageUrl"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <a href="/Home/AboutUsReadMore" class="btn" style="border: grey 1px solid; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 20px 2px; cursor: pointer; border-radius: 30px; background: #eeeeee;font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">READ MORE</a>
            </div>
        </div>
    </div>
</div>

<div id="services" class="tabBackground">
    <div class="container">
        <h2 style="text-align:center;" class="font_2">
            <span class="color_13">
                <span>SERVICES</span>
            </span>
        </h2>
        <h3 style="color:#336699; text-align:center; font-weight: 600;">@Model.ServiceTitle</h3>
        <div style="margin-bottom: 20px; text-align:center;">
            @{ int totalService = Model.Services.Count(); }
            @if (totalService > 2)
            {
                for (int i = 0; i < Model.Services.Count(); i++)
                {
                    <div style="width:32%; display: inline-block;">
                        <figure class="card">
                            <div class="card-image"><img src="@Model.Services[i].ServiceInfos[0].SImage"></div>
                            <figcaption class="card-reveal">
                                <h5 class="card-title">@Model.Services[i].ServiceType</h5>
                                <ul class="ul-default ulFont">
                                    @for (int j = 0; j < Model.Services[i].ServiceInfos.Count(); j++)
                                    {
                                        <li>@Model.Services[i].ServiceInfos[j].ServiceName</li>
                                    }
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                }
            }
            else
            {
                for (int i = 0; i < Model.Services.Count(); i++)
                {
                    <div style="width:32%; display: inline-block; margin: 10px;">
                        <figure class="card">
                            <div class="card-image"><img src="@Model.Services[i].ServiceInfos[0].SImage"></div>
                            <figcaption class="card-reveal">
                                <h5 class="card-title">@Model.Services[i].ServiceType</h5>
                                <ul class="ul-default ulFont">
                                    @for (int j = 0; j < Model.Services[i].ServiceInfos.Count(); j++)
                                    {
                                        <li>@Model.Services[i].ServiceInfos[j].ServiceName</li>
                                    }
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div id="experiences" class="container">
    <h2 style="text-align:center;" class="font_2">
        <span class="color_13">
            <span>EXPERIENCES</span>
        </span>
    </h2>
    <div class="row">
        <div id="experienceMap" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<div id="experieneGallery" style="display: none;">
    <ul id="lightGallery">
        
    </ul>
</div>

<div id="contact" class="tabBackground">
    <div class="container">
        <h2 style="text-align:center;" class="font_2">
            <span class="color_13">
                <span>CONTACT US</span>
            </span>
        </h2>
        <div class="row">
            <div class="col-md-6" style="padding-left: 85px;">
                <div style="height: 486px;">
                    <div class="row" style="">
                        <div class="col-md-12" >
                            <h2>Address</h2>
                            <span style="font-size: 18px;">@Model.ContactUs.ContactAddress</span>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="col-md-12">
                            @if (Model.ContactUs.ContactDetails.Count > 0)
                            {
                                <h2>Tel Reservation</h2>
                                foreach (var reservation in Model.ContactUs.ContactDetails)
                                 {
                                     <span style="font-size: 18px;">@reservation.ReservationTitle</span>
                                     <text>:</text>
                                     <span style="font-size: 18px;">@reservation.ContactNumber</span>
                                     <br/>
                                 }
                            }
                            <br/>
                            @if (Model.ContactUs.ContactEmails.Count > 0)
                            {
                                <span style="font-size: 18px;">Email :</span>
                                foreach (var email in Model.ContactUs.ContactEmails)
                                {
                                    <span style="font-size: 18px;">@email.ContactEmailAddress</span>
                                    <br/><span style="margin-left: 55px;"></span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div style="position: absolute;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              top: 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              left: 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              width: 90px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              height: 400px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              background-color: transparent;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              border-top: 500px solid #f8f8f8;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              border-right: 130px solid transparent;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              z-index: 2;">

                    </div>
                    <div id="map" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    initMap();

    $(document).ready(function () {
        $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });

        experienceMap();

        function experienceMap() {
            var test = @Html.Raw(Json.Encode(Model.Experiences));

            @*// Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        var map = new google.maps.Map(document.getElementById('experienceMap'), {
            zoom: 2,
            center: new google.maps.LatLng(0, 0),
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i].Latitude, locations[i].Longitude),
                map: map,
                label: labels[i % labels.length],
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i].LocationName);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
        var markerCluster = new MarkerClusterer(map, marker,
            { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });*@

            var map = new google.maps.Map(document.getElementById('experienceMap'), {
                zoom: 2,
                //center: {lat: -28.024, lng: 140.887}
                center: {lat: 0, lng: 0}
            });

            // Create an array of alphabetical characters used to label the markers.
            //var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            //var locations = [
            //    {lat: -18.085402, lng: 178.789063},
            //    { lat: -17.129341, lng: 179.986099 }]
            var locations = @Html.Raw(Json.Encode(Model.Experiences));

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {

                var marker =  new google.maps.Marker({
                    position: {lat: location.Latitude, lng: location.Longitude},
                });
                marker.set("id", location.LocationId);
                marker.addListener('click', function () {
                    $.ajax({
                        type: "GET",
                        url: '/Home/GetGalleryFromLocation/' + marker.get("id") +'',
                        success: function (response) {
                            if (response.result === "success") {
                                response.galleries.forEach(function(gallery) {
                                    $('#lightGallery').append('<li data-src="'+ gallery.LocationContent +'" data-sub-html="'+ response.LocationName +'"><img id="gallery'+ gallery.LocationId +'" src="'+ gallery.LocationContent +'" /></li>');
                                });
                                $("#lightGallery").lightGallery();
                                $('#gallery'+ response.galleries[0].LocationId +'').trigger('click');
                            } else {
                                swal(response.message, "", "error");
                            }
                        },
                        error: function (error) {
                            alert(error.message);
                        }
                    });
                    console.log(marker.get("id"));
                });
                return marker;
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }

    });

    function initMap() {
        var uluru = {lat: @Model.ContactUs.ContactLatitude, lng: @Model.ContactUs.ContactLongitude};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: uluru
        });

        var contentString = '@Model.ContactUs.ContactName';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: '@Model.ContactUs.ContactName'
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }


</script>