@model List<PrimeHtt.Models.ViewModel.BannerModel>

@{
    ViewBag.Title = "BannerList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <h1 class="page-header">Banner List</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="BannerTable" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="No" data-identifier="true">No</th>
                        <th data-column-id="BannerId" data-visible="false" data-visible-in-selection="false">Banner ID</th>
                        <th data-column-id="BImage" data-formatter="pix">Banner Image</th>
                        <th data-column-id="BannerDescription" data-width="300px" >Description</th>
                        <th data-column-id="Status">Status</th>
                        <th data-column-id="DateAdded">Date Added</th>
                        <th data-column-id="ActionColumnBar" data-formatter="ActionColumnBar">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 0; }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.BannerId</td>
                            <td>@item.BImage</td>
                            <td>@item.BannerDescription</td>
                            <td>@item.Status</td>
                            <td>@item.DateAdded</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="action-column-bar hide">
    <a href="@(Url.Action("EditBanner", "Admin", new { id = "{Id}" }))" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Update Banner"><span class="glyphicon glyphicon-pencil"></span></a>
    <a onclick="deleteBanner('%7BId%7D')" class="btn btn-default delete-button" data-toggle="tooltip" data-placement="left" title="Delete Banner"><span class="glyphicon glyphicon-trash"></span></a>
</div>

<div class="loading" style="display:none;z-index:100000">
    <div id="loader"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BannerTable").bootgrid({
            formatters: {
                "ActionColumnBar": function (column, row) {
                    var el = $("div.action-column-bar").html();
                    el = el.replace("%7BId%7D", row.BannerId).replace("%7BId%7D", row.BannerId).replace("%7BId%7D", row.BannerId).replace("%7BId%7D", row.BannerId);

                    return el;
                },
                "pix": function (column, row) {
                    return "<img src='" + row.BImage + "' style='width:150px; height:100px;' />";
                }
            }
        });
    });

    function deleteBanner(bannerId)
    {
        swal({
            title: "Are you sure?",
            text: "You will not be able to active this banner!",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "Yes, delete it!",
            confirmButtonColor: "#ec6c62"
        },
            function()
            {
                $('.loading').css('display', 'block');
                $.ajax({
                    url: "/Admin/DeleteBanner/",
                    data:{
                        "BannerId": bannerId
                    },
                    type: "POST"
                })
                    .done(function(data)
                    {
                        $('.loading').css('display', 'none');
                        sweetAlert({
                            title: "Deleted!",
                            text: "Banner was successfully deleted!",
                            type: "success"
                        },
                        function()
                        {
                            window.location.href = '/Admin/BannerList';
                        });
                    })
                    .error(function(data)
                    {
                        $('.loading').css('display', 'none');
                        swal("Oops", "We couldn't connect to the server!", "error");
                    });
            });
    }
</script>