@model PrimeHtt.Models.ViewModel.AddLocationViewModel
@{
    ViewBag.Title = "EditLocation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <h1 class="page-header">Edit Location</h1>
</div>

<form id="EditLocation" name="EditLocation" method="post">
    <div class="row">
        @*<div class="col-md-12 col-lg-6 col-lg-offset-3">
            <h1 class="page-header">Edit Location</h1>
        </div>*@
        <input type="hidden" id="LocationId" name="LocationId" value="@Model.LocationId"/>
        <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <label for="LocationName">Location Name</label>
                <input type="text" id="LocationName" name="LocationName" class="form-control" placeholder="Enter Location Name" value="@Model.LocationName" />
                @Html.ValidationMessageFor(e => e.LocationName)
            </div>
            <div class="form-group">
                <label for="Latitude">Location Latitude</label>
                <input type="text" id="Latitude" name="Latitude" class="form-control" placeholder="Enter Location Latitude" value="@Model.Latitude" />
                @Html.ValidationMessageFor(e => e.Latitude)
            </div>
            <div class="form-group">
                <label for="Longitude">Location Longitude</label>
                <input type="text" id="Longitude" name="Longitude" class="form-control" placeholder="Enter Location Longitude" value="@Model.Longitude" />
                @Html.ValidationMessageFor(e => e.Longitude)
            </div>
            <p style="color:grey"><small>*Latitude and Longitude can leave empty if you don't know.</small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <button type="submit" class="btn btn-primary pull-right">Edit Location</button>
        </div>
    </div>
</form>