@model List<PrimeHtt.Models.ViewModel.ExperienceViewModel>

@{
    ViewBag.Title = "Experience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                Experiences
                <a href="@Url.Action("AddLocation", "Admin")" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add New Location
                </a>
            </h1>
        </div>
        <div class="table-responsive">
            <table id="LocationTable" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th data-column-id="LocationId" data-identifier="true" data-visible="false">Id</th>
                    <th data-column-id="LocationName" data-formatter="ViewGallery">Location Name</th>
                    <th data-column-id="Latitude">Latitude</th>
                    <th data-column-id="Longitude">Longitude</th>
                    <th data-column-id="ActionColumnBar" data-formatter="ActionColumnBar">Actions</th>
                </tr>
                </thead>
                <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.LocationId</td>
                            <td>@item.LocationName</td>
                            <td>@item.Latitude</td>
                            <td>@item.Longitude</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No Location yet.
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="action-column-bar hide">
    <a href="@(Url.Action("AddGallery", "Admin", new {id = "{LocationId}" }))" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Add Gallery"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="@(Url.Action("EditLocation", "Admin", new {id = "{LocationId}" }))" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Edit Location"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="@(Url.Action("DeleteLocation", "Admin", new {id = "{LocationId}" }))" class="btn btn-default delete-location-button" data-toggle="tooltip" data-placement="left" title="Delete Location"><span class="glyphicon glyphicon-trash"></span></a>
</div>

<script>
    @if (Model.Count > 0)
    {
        <text>
        $("#LocationTable").bootgrid({
                ajax: false,
                caseSensitive: false,
                formatters: {
                    "ActionColumnBar": function (column, row) {
                        var el = $("div.action-column-bar").html();
                        el = el.replace("%7BLocationId%7D", row.LocationId).replace("%7BLocationId%7D", row.LocationId).replace("%7BLocationId%7D", row.LocationId);
                        return el;
                    },
                    "ViewGallery": function (column, row) {
                        return ("<a href='@Url.Content("~/Admin/Gallery?id=6LocationId6")'>" + row[column.id] + "</a>").replace("6LocationId6", row.LocationId);
                    },
                }
            }).on("loaded.rs.jquery.bootgrid", function () {
                $(this).find('[data-toggle="tooltip"]').tooltip();

                $(this).find("a.delete-location-button").on("click", function (e) {
                    if (confirm("Gallery will remove too, do you want to delete the location?")) {
                        return true;
                    }

                    e.preventDefault();

                    return false;
                });
            });
        </text>
    }
</script>